body {
	margin: 0;
	padding: 0;
	background: #DDA0DD;
	text-align: left;
	font-family: 'Arvo', serif;
	font-size: 14px;
	color: #000000;
}


h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
	font-family: 'Abel', sans-serif;
	font-weight: 400;
	color: #42859F;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

.nav {
margin:50px;
text-align:center;
background:#E6E6FA;
}
.nav ul {
  display: inline;
  padding:0;
  margin:0;
  position:relative;
 }
.nav ul li {
  display: inline-block
  }
.nav ul li:hover {
background-color:#E6E6FA;
}
.nav ul li a,visited {
display:block;
color:black;
padding:20px;
text-decoration:none;
}
.nav ul li a:hover {
color:white;
}
.nav ul li:hover ul {
display:block;
}
.nav ul ul {
display:none;	
position:absolute;
background-color:#E6E6FA;
min-width:150px;
 
}
.nav ul ul li {
display:block;	
}
.nav ul ul li a,visted {
color:black;
}
.nav ul ul li a:hover {
color:white;
}
